Preview
<div ng-app="UserPosts">
    <div ng-controller="mainController">
        <nav ng-controller="postController" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="btn btn-default navbar-btn">Sign in</button>
                <button type="button" class="btn btn-default navbar-btn">プレビュー</button>
            </div>

            <div class="container">
                <div class="youtube">
                    <div class="title"></div>
                    <div class="iframe"></div>
                    <div class="comment"></div>
                </div>
                <div class="citation"></div>
                <div class="text"></div>
                <div class="headline"></div>
            </div>
        </nav>
    </div>
</div>
